################################################
######## eYs3D Log Configuration File ##########
################################################

#log4cplus.rootLogger=DEBUG, EYS3DConsoleAppender
log4cplus.logger.EYS3DLogCat=DEBUG, EYS3DConsoleAppender
log4cplus.logger.EYS3DPerformanceCheck=DEBUG, EYS3DPerformanceAppender
log4cplus.logger.EYS3DDepthAccuracy=DEBUG, EYS3DDepthAccuracyAppender

log4cplus.logger.EYS3DColorProducerTick=ERROR, EYS3DColorProducerTickAppender
log4cplus.logger.EYS3DDepthProducerTick=DEBUG, EYS3DDepthProducerTickAppender
log4cplus.logger.EYS3DPCProducerTick=DEBUG, EYS3DPCProducerTickAppender
log4cplus.logger.EYS3DIMUProducerTick=ERROR, EYS3DIMUProducerTickAppender


#EYS3DConsoleAppender:
log4cplus.appender.EYS3DConsoleAppender=log4cplus::ConsoleAppender
log4cplus.appender.EYS3DConsoleAppender.layout=log4cplus::PatternLayout
log4cplus.appender.EYS3DConsoleAppender.layout.ConversionPattern=%D{%m-%d %H:%M:%S.%q} %i-%T [%-5p] %m%n

#EYS3DPerformanceAppender:
log4cplus.appender.EYS3DPerformanceAppender=log4cplus::RollingFileAppender
log4cplus.appender.EYS3DPerformanceAppender.layout=log4cplus::PatternLayout
log4cplus.appender.EYS3DPerformanceAppender.layout.ConversionPattern=%D{%m-%d %H:%M:%S.%q} %i-%T [%-5p] %m%n
log4cplus.appender.EYS3DPerformanceAppender.MaxFileSize=8MB
log4cplus.appender.EYS3DPerformanceAppender.MaxBackupIndex=8
log4cplus.appender.EYS3DPerformanceAppender.File=eYs3D/logs/eYs3D.performance.log

#EYS3DDepthAccuracyAppender:
log4cplus.appender.EYS3DDepthAccuracyAppender=log4cplus::RollingFileAppender
log4cplus.appender.EYS3DDepthAccuracyAppender.layout=log4cplus::PatternLayout
log4cplus.appender.EYS3DDepthAccuracyAppender.layout.ConversionPattern=%D{%m-%d %H:%M:%S.%q} %m%n
log4cplus.appender.EYS3DDepthAccuracyAppender.MaxFileSize=8MB
log4cplus.appender.EYS3DDepthAccuracyAppender.MaxBackupIndex=8
log4cplus.appender.EYS3DDepthAccuracyAppender.File=eYs3D/logs/eYs3D.depth.accuracy.log

#EYS3DColorProducerTickAppender:
log4cplus.appender.EYS3DColorProducerTickAppender=log4cplus::RollingFileAppender
log4cplus.appender.EYS3DColorProducerTickAppender.layout=log4cplus::PatternLayout
log4cplus.appender.EYS3DColorProducerTickAppender.layout.ConversionPattern=%D{%m-%d %H:%M:%S.%q} %i-%T %m%n
log4cplus.appender.EYS3DColorProducerTickAppender.MaxFileSize=2MB
log4cplus.appender.EYS3DColorProducerTickAppender.MaxBackupIndex=3
log4cplus.appender.EYS3DColorProducerTickAppender.File=eYs3D/logs/eYs3D.color.tick.log

#EYS3DDepthProducerTickAppender:
log4cplus.appender.EYS3DDepthProducerTickAppender=log4cplus::RollingFileAppender
log4cplus.appender.EYS3DDepthProducerTickAppender.layout=log4cplus::PatternLayout
log4cplus.appender.EYS3DDepthProducerTickAppender.layout.ConversionPattern=%D{%m-%d %H:%M:%S.%q} %i-%T %m%n
log4cplus.appender.EYS3DDepthProducerTickAppender.MaxFileSize=2MB
log4cplus.appender.EYS3DDepthProducerTickAppender.MaxBackupIndex=3
log4cplus.appender.EYS3DDepthProducerTickAppender.File=eYs3D/logs/eYs3D.depth.tick.log

#EYS3DPCProducerTickAppender:
log4cplus.appender.EYS3DPCProducerTickAppender=log4cplus::RollingFileAppender
log4cplus.appender.EYS3DPCProducerTickAppender.layout=log4cplus::PatternLayout
log4cplus.appender.EYS3DPCProducerTickAppender.layout.ConversionPattern=%D{%m-%d %H:%M:%S.%q} %i-%T %m%n
log4cplus.appender.EYS3DPCProducerTickAppender.MaxFileSize=2MB
log4cplus.appender.EYS3DPCProducerTickAppender.MaxBackupIndex=3
log4cplus.appender.EYS3DPCProducerTickAppender.File=eYs3D/logs/eYs3D.pc.tick.log

#EYS3DIMUProducerTickAppender:
log4cplus.appender.EYS3DIMUProducerTickAppender=log4cplus::RollingFileAppender
log4cplus.appender.EYS3DIMUProducerTickAppender.layout=log4cplus::PatternLayout
log4cplus.appender.EYS3DIMUProducerTickAppender.layout.ConversionPattern=%D{%m-%d %H:%M:%S.%q} %i-%T %m%n
log4cplus.appender.EYS3DIMUProducerTickAppender.MaxBackupIndex=3
log4cplus.appender.EYS3DIMUProducerTickAppender.File=eYs3D/logs/eYs3D.imu.tick.log
